<div class="container">
  <h1>Tasks</h1>
  <form class="task-search" method="GET" action="/tasks/search">
    <input type="search" name="title" placeholder="Search a task by title" />
    <button type="submit">
      <i class="bi bi-search"></i>
    </button>
  </form>
  {{!-- <button class="show-filters-btn">
    <i class="bi bi-funnel-fill"></i>
    Filters
  </button>
  <div class="task-filter show-filters">
    <a href="/tasks/list">
      All tasks
    </a>
    <form class="filter-task" method="GET">
      <input type="hidden" name="done" value="1" />
      <button type="submit">
        Done tasks
      </button>
    </form>
    <form class="filter-task" method="GET">
      <input type="hidden" name="done" value="0" />
      <button type="submit">
        Not done tasks
      </button>
    </form>
  </div> --}}
  {{#if taskList}}
  {{#each taskList}}
  <ul class="task-list">
    <li>
      <div class="task-content">
        {{#if this.done}}
        <h1 class="title done">{{this.title}}</h1>
        <p class="done">{{this.description}}</p>
        {{else}}
        <h1 class="title">{{this.title}}</h1>
        <p>{{this.description}}</p>
        {{/if}}
      </div>
      <div class="actions">
        <form action="/tasks/done/{{this.id}}" method="POST">
          <button type="submit">
            <i class="bi bi-check-square"></i>
          </button>
        </form>
        <a href="/tasks/edit/{{this.id}}">
          <i class="bi bi-pencil-square"></i>
        </a>
        <form action="/tasks/delete/{{this.id}}" method="POST">
          <button type="submit">
            <i class="bi bi-x-square"></i>
          </button>
        </form>
      </div>
    </li>
  </ul>
  {{/each}}
  {{else}}
  <div class="task-not-found">
    <h1>You haven't added any tasks yet.</h1>
    <a href="/tasks/create">
      <i class="bi bi-plus-circle-fill"></i>
      Add task
    </a>
  </div>
  {{/if}}
</div>